# Set Theory

This code activity will try to guide you in applying the concepts, methods, and rules of Set Theory through code. We will go through with the data types in which Set Theory can be applied, how to write them in equation form im $\LaTeX$, and then we will try to look at a practical example through a user's requirement.

### Lists

In Python,  the most common iterable collection are lists. In lists, elements are ordered and chageable. Lists are denoted by enclosing objects with square brackets $[ ... ]$. Lists can be accessed through their indices, negative indexing is permitted.

In [6]:
### Declaration
employees = ['John', 'Alex', 'Winston', 'Bob', 'Golbi'] ## Best practice when making a list of objects, list variable names should be in plural form

In [7]:
### Single Access
employees[1]

'Alex'

In [11]:
### Multiple Access
employees[0:3:1]

['John', 'Alex', 'Winston']

In [ ]:
### Multiple Access via Loops
for employee in employees: ## To make coding a bit more intuitive, we use the singular form of the list variable name to denote its elements.
    print(employee)

In [15]:
### Multiple Access via Loops
for i in range(len(employees)): ## You could also use indices for iterations.
    if(i%2 == 0):
        print(employees[i])

John
Winston
Golbi

In [ ]:
### Modifying Elements

In [ ]:
### Adding Elements
employees.append("Dorothy")

employees.insert("Ozai", 2)

In [ ]:
### Removing Elements
employees.pop() 

employees.remove("Ozai")

del employees[-1]

employees.clear()

### Tuples

Tuples are another collection data type in Python. There are several key differences between lists and tuples:
- Tuples are ordered collections, so order cannot be rearranged or modified.
- Since tuples are ordered collections $(a, b) \neq (b, a)$
- They are declared and denoted using parentheses $( ...)$

In [ ]:
### Declaration
img1_colors = (255, 0 , 0)  ## In image processing, this is called a tuple consisting of channels. 
                            ##It is structured as (Red, Green, Blue) such that the values in each channe; ranges from 0 - 255 
img2_colors = (64, 128, 111)

In [ ]:
### Single Access
red = color[1]

In [ ]:
### Multiple Access
employees[0:2:1]

In [ ]:
### Multiple Access via Loops
for color in img_colors:
    print(color)

In [12]:
car_xpos = (3, 5, 12, 15)
car_ypos = (0, 1, 5, 2)
### Multiple Access via Parallel Iteration
for pos in zip(car_xpos, car_ypos):
    print(f'Coordinates of cars in ordered pair form: {pos}')

Coordinates of cars in ordered pair form: (3, 0)
Coordinates of cars in ordered pair form: (5, 1)
Coordinates of cars in ordered pair form: (12, 5)
Coordinates of cars in ordered pair form: (15, 2)

In [ ]:
### Modifying Elements

car_xpos[0] = 0

In [ ]:
### Removing Elements

del img1_colors(0)

In [ ]:
### Merging Tuples
car_pos = car_xpos + car_ypos

### Sets

Sets are collections which are unordered and unindexed. Repititions are not allowed in set structures and they are denoted by curly brackets $\{ ... \}$.

In [7]:
### Declaration
bakery_A = {'bread', 'cracker', 'croissant', 'eclair', 'parfait','cannele', 'coffee','tea'}
bakery_B = {'bread', 'croissant', 'donuts', 'cinnamon roll', 'cookies','coffee','tea'}

In [ ]:
### Accessing Elements
bakery_A[0]

In [5]:
### Multiple Access via Loops
for product in bakery_A:
    print(product)

cannele
eclair
coffee
croissant
cracker
bread
parfait
tea

In [6]:
### Removing an Element

bakery_A.remove('cannele')

In [10]:
### Membership
'coffee' in bakery_A
### Subsets
order = {'coffee', 'cinnamon roll'}
order.issubset(bakery_A)

True

In [13]:
### Union
baker_st = bakery_A.union(bakery_B)
baker_st

{'bread',
 'cannele',
 'cinnamon roll',
 'coffee',
 'cookies',
 'cracker',
 'croissant',
 'donuts',
 'eclair',
 'parfait',
 'tea'}

In [15]:
### Intersection
bakery_A.intersection(bakery_B)

{'bread', 'coffee', 'croissant', 'tea'}

In [16]:
### Difference
bakery_A.difference(bakery_B)

{'cannele', 'cracker', 'eclair', 'parfait'}

### Dictionaries

Dictionaries are collections which is unordered, changeable like sets but are indexed. Like sets, they are denoted witn $\{...\}$ but objects are characterized by <b>keys</b> and described using <b>values</b>.

In [33]:
### Declaration
bakery_A_prices = {'bread' : 60, 
            'cracker': 15, 
            'croissant': 40, 
           }

In [21]:
## Accessing
bakery_A_prices['bread']

60

In [23]:
## Accessing via Loops
for product in bakery_A_prices:
    print(product)

bread
cracker
croissant

In [24]:
for product in bakery_A_prices:
    print(bakery_A_prices[product])

60
15
40

In [26]:
for price in bakery_A_prices.values():
    print(price)

60
15
40

In [ ]:
for product, price in bakery_A_prices.items():
    print(product, price)

In [28]:
## Update / Modification
bakery_A_prices['bread'] = 60*0.9

In [34]:
## Adding Elements
bakery_A_prices['coffee'] = 110

In [35]:
## Removing Elements
print(bakery_A_prices)
print(bakery_A_prices.pop('cracker'))
print(bakery_A_prices)

{'bread': 60, 'cracker': 15, 'croissant': 40, 'coffee': 110}
15
{'bread': 60, 'croissant': 40, 'coffee': 110}

## Dataset Operations

For this section, we will use the sets below to pracitce some practical dataset operations.

In [17]:
prime = [2,3,5,7,11,13,15,17,19,23]
odd = [1,3,5,7,9,11,13,15,17,19,21, 23]

### Intersection / Similarities

In [40]:
for num in prime:
    if num in odd:
        print(num)

3
5
7
11
13
15
17
19

In [2]:
def intersection(list1, list2):
    intersect = [num for num in list1 if num in list2]
    return intersect

In [3]:
prime_n_odd = intersection(prime, odd)
prime_n_odd

[3, 5, 7, 11, 13, 15, 17, 19, 23]

### Subtraction / Uniqueness

In [4]:
for num in prime:
    if num not in odd:
        print(num)

2

In [5]:
def subtraction(list1, list2):
    less  =[num for num in list1 if num not in list2]
    return less

In [6]:
prime_less_odd = subtraction(prime, odd)
prime_less_odd

[2]

### Union / Merge

In [21]:
union_repeat = prime + odd
union_repeat.sort()
union_repeat

[1, 2, 3, 3, 5, 5, 7, 7, 9, 11, 11, 13, 13, 15, 15, 17, 17, 19, 19, 21, 23, 23]

In [20]:
union_norepeat = intersection(prime, odd) + subtraction(prime, odd) + subtraction(odd, prime)
union_norepeat.sort()
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [25]:
union_norepeat = list(set(prime).union(set(odd)))
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [ ]:
def union(list1, list2, repetition=False):
    if repetition:
        pass
    else:
        pass
    return None

In [ ]:
prime_u_odd = union(prime, odd)

## Activities

<h4><center><i>Input your statement here.</i></center></h4>

<center>Input your $formulas$ here.</center>

In [ ]:
'''
ACTIVITY 1 (5 points)

You will be given either a statement or a formula as your activity. If you are given a formula please translate them into an English statement, 
however, if you are given an English statement translate them to a wff. For both cases provide the code below, then run it to display the output.
'''
### START YOUR CODE BELOW HERE ###



### END OF CODE ###

In [ ]:
'''
ACTIVITY 2 (5 points)

Given the image below this cell, implement the code corresponding to the set relation. For additional points (equivalent to 2 points), derive the simplified
wff for the given flowchart.
'''
### START YOUR CODE BELOW HERE ###



### END OF CODE ###

## Scratch Area

You can use the area below to try your own code.